<!-- begin footer -->
<footer class="footer">
  <div class="footer__inner">

    <!-- Col 1: Brand -->
    <div class="footer__brand">
      <a href="{{ site.baseurl }}/" class="footer__brand-link">
        <svg viewBox="0 0 1715 518" width="110" height="33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;" aria-hidden="true">
          <g transform="matrix(1,0,0,1,0.000256,-0.001034)">
              <g transform="matrix(1,0,0,1,-2750.457839,-1087)">
                  <g transform="matrix(1,0,0,1,1385.277101,40)">
                      <g transform="matrix(0.7304,0,0,0.647326,1294.331945,-174.503503)">
                          <g transform="matrix(0.740676,0,0,0.941023,-439.99046,721.747615)">
                              <g>
                                  <path d="M1878,1532L1878,2088L1077.875,2088C882.988,2088 725,1963.648 725,1810.253L725,1808.328C725,1735.041 761.988,1664.756 827.827,1612.935C893.665,1561.113 982.962,1532 1076.072,1532L1878,1532ZM1661.981,1701.677L1078.642,1701.677C1002.635,1701.677 941.019,1750.175 941.019,1810C941.019,1869.825 1002.635,1918.323 1078.642,1918.323L1661.981,1918.323L1661.981,1701.677Z" style="fill:rgb(240,61,0);"/>
                              </g>
                          </g>
                          <g transform="matrix(1.062937,0,0,1.552448,-738.27972,-126.524476)">
                              <path d="M1122,1399.419L1122,1297L1437.474,1297C1520.607,1297 1588,1343.143 1588,1400.063L1588,1440L1437.474,1440L1437.474,1435.625C1437.474,1415.629 1413.799,1399.419 1384.594,1399.419L1122,1399.419Z" style="fill:rgb(240,61,0);"/>
                          </g>
                          <g transform="matrix(1,0,0,1,0,-8.70475)">
                              <g transform="matrix(0.797404,0,0,0.797404,-297.540135,866.592937)">
                                  <rect x="1643" y="1694" width="224" height="224" style="fill:rgb(240,61,0);"/>
                              </g>
                              <g transform="matrix(0.797404,0,0,0.797404,-297.540135,1120.592937)">
                                  <path d="M1727.798,1694L1867,1694L1867,1918L1643,1918L1643,1778.798L1672.451,1778.798C1703.018,1778.798 1727.798,1754.018 1727.798,1723.451L1727.798,1694Z" style="fill:rgb(240,61,0);"/>
                              </g>
                          </g>
                      </g>
                      <g transform="matrix(1,0,0,1,-22,-230.93434)">
                          <g transform="matrix(1,0,0,1,198,1055)">
                              <g transform="matrix(1,0,0,1,2076.295,524.454)">
                                  <text x="0px" y="0px" style="font-family:'Helvetica-Bold', 'Helvetica';font-weight:700;font-size:291.667px;fill:rgb(240,61,0);">azmat</text>
                              </g>
                          </g>
                          <g transform="matrix(1,0,0,1,391.949382,1165)">
                              <g>
                                  <g transform="matrix(1,0,0,1,2076.295,524.454)">
                                      <text x="0px" y="0px" style="font-family:'Helvetica-Bold', 'Helvetica';font-weight:700;font-size:83.333px;fill:rgb(240,61,0);">M</text>
                                  </g>
                                  <g transform="matrix(1,0,0,1,2158.212,524.454)">
                                      <text x="0px" y="0px" style="font-family:'Helvetica-Bold', 'Helvetica';font-weight:700;font-size:83.333px;fill:rgb(240,61,0);">U<tspan x="72.681px 145.361px 222.681px 295.361px " y="0px 0px 0px 0px ">NGUR</tspan></text>
                                  </g>
                              </g>
                          </g>
                      </g>
                  </g>
              </g>
          </g>
        </svg>
      </a>
      {% if site.data.settings.footer_description %}
      <p class="footer__desc">{{ site.data.settings.footer_description }}</p>
      {% endif %}
    </div>

    <!-- Col 2: Navigation -->
    {% if site.data.settings.menu_settings.menu_items %}
    <div class="footer__nav-col">
      <span class="footer__nav-label">Navigation</span>
      {% for item in site.data.settings.menu_settings.menu_items %}
      <a class="footer__nav-link" href="{{ item.url | relative_url }}">{{ item.title }}</a>
      {% endfor %}
    </div>
    {% endif %}

    <!-- Col 3: Topics -->
    <div class="footer__nav-col">
      <span class="footer__nav-label">Topics</span>
      {% assign sorted_tags = site.tags | sort %}
      {% for tag in sorted_tags limit:6 %}
      <a class="footer__nav-link" href="/tags/#{{ tag[0] | slugify }}">{{ tag[0] }}</a>
      {% endfor %}
    </div>

    <!-- Col 4: Connect -->
    {% if site.data.settings.social %}
    <div class="footer__nav-col">
      <span class="footer__nav-label">Connect</span>
      {% for social in site.data.settings.social %}
      <a class="footer__nav-link" href="{{ social.link }}" target="_blank" rel="noopener" aria-label="{{ social.name }}">
        <i class="{{ social.icon }}"></i>{{ social.name }}
      </a>
      {% endfor %}
    </div>
    {% endif %}

  </div>

  <div class="footer__bar">
    <span class="footer__copy">{{ site.time | date: '%Y' }} &copy; Azmat Mungur</span>
    <button class="footer__theme-toggle toggle-theme" aria-label="Toggle theme">
      <span class="footer__theme-label footer__theme-label--light">Light</span>
      <span class="footer__theme-track">
        <span class="footer__theme-thumb"></span>
      </span>
      <span class="footer__theme-label footer__theme-label--dark">Dark</span>
    </button>
    <button class="footer__top top" aria-label="Back to top">
      <i class="fa-solid fa-arrow-up"></i> top
    </button>
  </div>
</footer>
<!-- end footer -->
